body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('background.png') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

h1 {
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.container {
    max-width: 500px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background for readability */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.result {
    margin-top: 20px;
    padding: 10px;
    background-color: #e2e2e2;
    border-radius: 4px;
    text-align: center;
}


.price-display h3 {
    margin: 0;
    padding-bottom: 10px;
}

.price-display ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.price-display li {
    margin-bottom: 5px;
}